*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;

}

#logo{
    text-align: center;
    margin-top: 25px;
}

#logo img{
    width: 50px;
    height: 50px;
}

#login-txt{
    text-align: center;
    margin-top: 25px;
}

#login-txt h1{
    font-size: 25px;
}

#loginbox{
    margin: 20px auto;
    width: 500px;
}

#loginbox #username{
    width: 100%;
    background: rgb(225, 248, 255);
    padding-top: 5px;
    border-radius: 5px;
    
}

#loginbox #username label,#loginbox #pass label {
    margin-left: 5px;
    font-size: 15px;
    color: grey;
    font-weight: lighter;
}

#loginbox #username input[type="text"], #loginbox #pass input[type="password"]{
    width: 98%;
    background: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid grey;
    padding: 5px;
    font-size: 20px;
    outline: none;
    border-radius: 2px;

}

#loginbox #pass{
    margin-top: 15px;
    width: 100%;
    background: rgb(225, 248, 255);
    padding-top: 5px;
    border-radius: 5px;
    
}

#loginbtn{
    text-align: center;
    margin-top: 20px;
    padding: 15px 10px 15px 10px;
    width: 100%;
    border: none;
    border-radius: 25px;
    background-color: lightskyblue;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#loginbtn:hover{
    background: rgb(0, 157, 255);
    cursor: pointer;
}

#links{
    text-align: center;
}



#links a{
    color: rgb(62, 181, 255);
    text-decoration: none;
}

#links a:hover{
    text-decoration: underline;
}

#links ul li{
   display: inline-block;
   margin-top: 10px;
}